@import "../../framework/vars";
@mobile: 500px;

.timeline-header {
  text-transform: uppercase;
  text-align: center;
  margin: 2em 0 3em;
}

.timeline {
  margin: 40px 0;
  &.likeSlide {
    .timeline-active {
      z-index: 5;
    }
    .timeline-slide-wrap {
      overflow: hidden;
      position: relative;
    }
    .timeline-item {
      padding: 50px;
      transform: translateY(-100%);
      transition: all 0.1s ease;
      position: absolute;
      bottom: 100%;
      &.showed {
        transform: translateY(-0%);
        position: relative;
        bottom: 100%;
      }
    }
    @media (max-width: @mobile) {
      .timeline-slide-wrap {
        background: transparent;
      }
      .timeline-item {
        display: block;
        padding: 0;
        margin-bottom: 20px;
        position: relative;
        transform: translateY(0);
      }
      .timeline-active, .timeline-dot {
        display: none;
      }
    }
  }
  .slides-nav {
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: flex-end;
    .current {
      font-size: 36px;
      margin-right: 10px;
      line-height: 1;
    }
    @media @media-md-max {
      display: none;
    }
  }
  @media @media-lg-min {
    .right {
      margin-right: 60px;
    }
    .left {
      margin-left: 60px;
    }
  }
  @media @media-md-max {
    .right, .left {
      display: none;
    }
  }
}

.timeline-active {
  position: relative;
  &.reverse {
    transform: scale(-1,1);
    .timeline-item{
      transform: scale(-1,1);
    }
    .date {
      transform: translate(-50%) scale(-1,1);
    }
  }
}
.timeline-dot {
  @size: 20px;
  width: @size;
  height: @size;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 5;
  .date {
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    bottom: -@size * 1.5;
    transform: translateX(-50%);
    left: 50%;
  }
  .timeline-item {
    width:  @size;
    height: @size;
    display: none;
    position: absolute;
    bottom: -3 * @size;
  }
  &.active {
    z-index: 10;
    .timeline-item {
      display: block;
    }
  }
}




@media (max-width: @mobile) {
  .timeline {
    margin: 0;
    background: transparent !important;
  }
  .timeline-dot {
    height: auto;
    width: 100%;
    background: transparent !important;
    position: static;
    cursor: auto;
    transform: none;
    margin: 0 auto 1em;
    .timeline-item {
      display: block;
      width: 100%;
      position: relative;
      bottom: 0;
      height: auto;
    }
  }
}