@import "framework/vars";

@import "framework/normalize";
@import "framework/grid";
@import "framework/buttons";
@import "framework/mixins";
@import "framework/helpers";
@import "framework/menu";
@import "framework/reveal";

@import "fonts";

.App {
  margin: @m-huge 0;
}
.photo-wrap {
  display: flex;
  flex-direction: column;
}
.photo {
  pointer-events: none;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.header {
  margin: @m-medium auto;
}
.stack, .cms {
  & > div {
    margin: 4px 8px 4px 0;
    padding: 2px 10px;
    background: fade(@green, 70%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
