@import "framework/vars";

@import "framework/normalize";
@import "framework/grid";
@import "framework/buttons";
@import "framework/mixins";
@import "framework/helpers";
@import "framework/menu";
@import "framework/reveal";

@import "fonts";

body {
  overflow-x: hidden;
}
.top-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 27vw;
  z-index: -1;
  @media @media-md-max {
    width: 55vw;
  }
  @media @media-sm-max {
    width: 80vw;
  }
}
.oval-svg {
  position: absolute;
  right: 0;
  z-index: -1;
}
.heading {
  mix-blend-mode: difference;
}
.photo-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  &:before {
    content: '1986';
    color: white;
    position: absolute;
    font-weight: 600;
    font-size: 22px;
    top: 35%;
    left: -25px;
    display: inline-block;
    mix-blend-mode: overlay;
    letter-spacing: 2px;
  }
  @media @media-md-max {
    &:before {
      left: 0;
    }
  }
}
.photo {
  pointer-events: none;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.header {
  margin: @m-medium auto;
  margin-top: @m-huge;
}
.label {
  background: @yellow;
  margin: 4px 8px 4px 0;
  padding: 2px 10px;
}
.labels {
  &.small {
    & > div {
      .label();
      font-size: 0.7em;
      padding: 0 8px;
    }
  }
}
.stack, .cms {
  & > div {
    .label();
  }
}
.project-item {
  margin-top: @m-small;
  padding: @m-small;
  width: 50%;
  .description {
    padding-right: @m-medium;
    margin: @m-tiny 0;
  }
  @media @media-sm-max {
    width: 100%;
  }
}

.timeline {
  &.likeSlide {
    .timeline-dot.active {
      z-index: 2;
    }
  }
}
.timeline-dot {
  &:after {
    content: '';
    border-radius: 50%;
    border: 1px solid @secondary;
    border-color: @secondary @secondary transparent transparent;
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(135deg);
    box-sizing: border-box;
    transition: 0.2s transform @bezier;
  }
  &.active:after {
    transform: translate(-50%, -50%) scale(1) rotate(135deg);
  }
}

.Contacts-wrap {
  background: @text-color;
  color: @white;
  padding: @m-large 0;
  a {
    color: @white;
  }
  .contacts {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
    a {
      display: block;
    }
  }
}
.socials {
  text-align: right;
  a {
    font-size: 30px;
    margin-right: 0.4em;
    padding: 0.2em;
  }
}

@media @media-md-max {
  .rocket {
    position: absolute;
    right: -30px;
    top: 0;
    & > div {
      transform: scale(0.7);
    }
  }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
