body {
  line-height: 1.6;
  color: @text-color;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  line-height: 1.56em;
  letter-spacing: 0em;
}
a {
  text-decoration: none;
  color: @active;
  transition: 0.15s color @bezier;
  &:hover {
    color: @primary;
  }
}
h1 {
  margin: 0;
  font-size: 35px;
  margin-bottom: 0.5em;
  line-height: 1.2;
  text-transform: uppercase;
}
h2,h3,h4 {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
}


@media @media-sm-max {
  h1 {
    font-size: 30px;
  }
}