.company-name {
  text-transform: uppercase;
  margin: 0;
  .fa {
    margin-right: 0.5em;
    color: #999;
  }
}
.job-position {
  font-weight: 500;
}
.job-description {
  font-size: 12px;
}
.job-item {
    min-width: 360px;
    padding: 20px;
    background: #eee;
    transform: translate(-50%);
    left: 50%;
  .time {
    font-size: 0.7em;
  }
  .stack-wrap {
    margin: 1.2em 0;
  }
}

@media (max-width: 500px) {
  .job-item {
    transform: none;
  }
}